.App {
  text-align: center;
}

.main_image{
  object-fit: cover;
  width: 100%;
}

.drinks-container{
  display: flex;
  justify-content: space-around;

  margin-left: 10vw; margin-right: 10vw;
}

.drinkImage{
  width: 250px;
  height: 250px;

  object-fit: cover;
}