.App {
  text-align: center;
}

main {
  background-color: black;
}

.main_image {
  object-fit: cover;
  width: 100%;
  position: relative;
}

.site-content {
  background-image: url('./assets/marble_background.jpg'); /* Set the background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */

  padding-top: 100px;
  padding-bottom: 100px;
}


.drinks-container {
  display: flex;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
}

.drink{
  border: solid grey 1px;
  border-radius: 20px;

  color: white;
  box-shadow: 10px 10px 10px;

  background-color: black;
  padding-bottom: 20px;
}

.drinkImage {
  width: 250px;
  height: 250px;
  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

.cart-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999;
}

.cart-count {
  position: absolute;
  top: -16px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 30px;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998; /* Decreased z-index */
}

.cart-card {
  background-color: #fff;
  width: 40vw;
  padding: 20px;
  border-radius: 10px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-cart {
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-total {
  margin-top: 20px;
}

.pay-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.addtocart-button {
  background-color: white;
  border: solid grey 2px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1vw;
}

.addtocart-button:hover{
  background-color: #808080;
  border-color: #474747;
  color: white;
}

footer {
  height: 100px;
}


